:root {
	--header-font: Helvetica, Tahoma, Verdana, sans-serif;
	--body-font: Verdana, Helvetica, sans-serif;
	--monospace-font: monospace;
	
	--col-dark-fg: #e8f0f5;
	--col-dark-sec: #b9cbd6;
	--col-dark-bg: #191c1e;
	--col-light-fg: #2a2925;
	--col-light-sec: #474040;
	--col-light-bg: #ebeae6;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: var(--col-light-bg);
	color: var(--col-light-fg);
}

div {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, pre, a, abbr, em, strong, img, li, ul, form, label {
	border: 0;
	font-family: var(--body-font);
	font-size: 100%;
	line-height: 1.2em;
	margin: 0;
	padding: 0
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--header-font);
	padding: 4px 0
}

h1 {
	font-size: 150%;
}

h2 {
	font-size: 140%;
}

h3, h4, h5, h6 {
	font-size: 120%;
}

pre {
	font-family: var(--monospace-font)
}

form {
	padding: 5px 0;
}

#header {
	background-color: var(--col-dark-bg);
	color: var(--col-dark-fg);
	padding: 15px 30px;
	display; flex
}

#view {
	height: 100%;
	display: flex;
	margin: 0;
	padding: 0;
	max-height: 100%;
}

#sidebar {
	min-width: 15em;
	max-width: 15em;
	padding: 10px 10px 10px 30px;
	word-break: break-all;
}

#content {
}

#grid {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	align-content: flex-start;
}

#arrows {
	display: flex;
	justify-content: center;
	margin: 10px 0;
	font-size: 150%;
}

#arrows>a {
	margin: 0 2em;
}

#post_tags {
	display: flex;
	flex-wrap: wrap;
	line-height: 1.7em;
}

.post_tag {
	background-color: var(--col-dark-bg);
	color: var(--col-dark-fg);
	margin: 0 2px;
	padding: 0 5px;
	white-space: nowrap;
	border: 3px var(--col-dark-fg) solid;
	border-radius: 6px;
}

.thumbnail {
	margin: 10px;
}

.menu {
	list-style: none;
	margin: 0 0 0.5em 0;
	padding: 0
}

.menu li {
	display: inline-block;
	padding: 0 1em 0 1em
}

.details {
	list-style: none;
	margin: 0 0 0.5em 0;
	padding: 0
}

.details li {
	display: block;
	padding: 0
}

.fitimage {
	max-width: 100%;
	height: auto;
	max-height: 80vh;
	margin: 0 auto;
}

.hint {
	color: #333;
	font-style: italic
	text-justify:justify;
	width: 15em
}

.hint span {
	font-family: monospace
}

a.stealth_link {
	text-decoration: none;
}
a.stealth_link:link {
	color: var(--col-light-fg);
}
a.stealth_link:visited {
	color: var(--col-light-fg);
}
a.stealth_link:hover {
	color: var(--col-light-sec);
	text-decoration: underline;
}
a.stealth_link:active {
	color: var(--col-light-sec);
}
a.dark.stealth_link:link {
	color: var(--col-dark-fg);
}
a.dark.stealth_link:visited {
	color: var(--col-dark-fg);
}
a.dark.stealth_link:hover {
	color: var(--col-dark-sec);
}
a.dark.stealth_link:active {
	color: var(--col-dark-sec);
}
